* {
  box-sizing: border-box;
}

body {
  background: #EAEBEC;
}
table{
    width: 100%;
    padding: 5px 0px;
	background: #3A4655;
}
.container {
  width: 400px;
  margin: auto;
}
.calc-body {
    width: 286px;
    margin: auto;
    min-height: 235px;
    border: solid 1px #3A4655;
    box-shadow: 0 8px 50px -7px black;
    border-top: solid 3px #CFCFCF;
    border-left: solid 3px #ffffff;
    border-right: solid 3px #2B3541;
    border-bottom: solid 3px #354251;
}
.calc-screen {
  background: #3A4655;
  width: 100%;
  padding: 0 5px;
}

.calc-operation {
  text-align: right;
  color: #b8acac;
  padding-bottom: 5px;
  border-bottom: dotted 2px;
}
.number{
	width: 100%;
    font-size: 25px;
    height: 65px;
    margin: 20px 0;
    padding-left: 5px;
}
select{
    width: 100%;
    background: #425062;
    color: #fff;
    padding: 20px 0px 20px 20px;
    display: inline-block;
    font-size: 25px;
    border-right: solid 2px #3C4857;
    border-bottom: solid 2px #3C4857;
}
.button {
  width: 100%;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  border-right: solid 2px #3C4857;
  border-bottom: solid 2px #3C4857;
  transition: all 0.2s ease-in-out;
}

.button.l {
  color: #AEB3BA;
  background: #404D5E;
}

.button.c {
  color: #D95D4E;
  background: #404D5E;
}

.button:hover {
	background-color: rgb(0, 179, 255,.75);
}

.button.c:hover,
.button.l:hover {
  background-color: #F90;
  color: #fff;
}
